# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.venv/
env/
venv/
*.sqlite3

# Pelican output
output/
cache/
*.log

# System
.DS_Store
Thumbs.db
.idea/
.vscode/

# Packaging
dist/
build/
*.egg

# Temporary / local
*.bak
*.tmp
*.swp
*.swo
